<a href="https://colab.research.google.com/github/SAntimang/Aprendiendo-Python---Github/blob/master/PanDas_Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [35]:
df = pd.read_csv("/content/drive/My Drive/Data Science Python/Python Data Science/Base_datos/base_datos_2008.csv")

In [6]:
df.head(26)

    Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
0   2008      1           3  ...       NaN            NaN                NaN
1   2008      1           3  ...       NaN            NaN                NaN
2   2008      1           3  ...       NaN            NaN                NaN
3   2008      1           3  ...       NaN            NaN                NaN
4   2008      1           3  ...       0.0            0.0               32.0
5   2008      1           3  ...       NaN            NaN                NaN
6   2008      1           3  ...       0.0            0.0               47.0
7   2008      1           3  ...       NaN            NaN                NaN
8   2008      1           3  ...       NaN            NaN                NaN
9   2008      1           3  ...       NaN            NaN                NaN
10  2008      1           3  ...       NaN            NaN                NaN
11  2008      1           3  ...       0.0            0.0               72.0
12  2008      1           3  ...       NaN            NaN                NaN
13  2008      1           3  ...       NaN            NaN                NaN
14  2008      1           3  ...       NaN            NaN                NaN
15  2008      1           3  ...       NaN            NaN                NaN
16  2008      1           3  ...       0.0            0.0               12.0
17  2008      1           3  ...       NaN            NaN                NaN
18  2008      1           3  ...       0.0            0.0               16.0
19  2008      1           3  ...       0.0            0.0               25.0
20  2008      1           3  ...       NaN            NaN                NaN
21  2008      1           3  ...       0.0            0.0               12.0
22  2008      1           3  ...       NaN            NaN                NaN
23  2008      1           3  ...       NaN            NaN                NaN
24  2008      1           3  ...       NaN            NaN                NaN
25  2008      1           3  ...       NaN            NaN                NaN

[26 rows x 29 columns]

In [7]:
df.tail()

       Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
99995  2008      1          25  ...       0.0            0.0              129.0
99996  2008      1          26  ...       NaN            NaN                NaN
99997  2008      1          27  ...       0.0            0.0               40.0
99998  2008      1          28  ...       NaN            NaN                NaN
99999  2008      1          29  ...       NaN            NaN                NaN

[5 rows x 29 columns]

In [9]:
df = df.sample(frac=1)

In [10]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [11]:
df.DepTime

18401    1614.0
10815    1944.0
82780    1013.0
29939    1820.0
11404    2229.0
          ...
99496    1843.0
71031     915.0
29115    1928.0
93803    1527.0
75439    1636.0
Name: DepTime, Length: 100000, dtype: float64

In [12]:
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [13]:
df.values

array([[2008, 1, 8, ..., nan, nan, nan],
       [2008, 1, 6, ..., 0.0, 0.0, 18.0],
       [2008, 1, 28, ..., nan, nan, nan],
       ...,
       [2008, 1, 12, ..., nan, nan, nan],
       [2008, 1, 31, ..., nan, nan, nan],
       [2008, 1, 26, ..., nan, nan, nan]], dtype=object)

In [14]:
df2 = df.head(10)

In [15]:
df2.head(26)

       Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
18401  2008      1           8  ...       NaN            NaN                NaN
10815  2008      1           6  ...       0.0            0.0               18.0
82780  2008      1          28  ...       NaN            NaN                NaN
29939  2008      1          12  ...       NaN            NaN                NaN
11404  2008      1           6  ...       0.0            0.0               80.0
20692  2008      1           9  ...       NaN            NaN                NaN
32988  2008      1          13  ...       NaN            NaN                NaN
72396  2008      1          25  ...       NaN            NaN                NaN
41833  2008      1          16  ...       NaN            NaN                NaN
70346  2008      1          24  ...       NaN            NaN                NaN

[10 rows x 29 columns]

In [17]:
df["ArrDelay"].head()

18401    -4.0
10815    23.0
82780     9.0
29939   -11.0
11404    80.0
Name: ArrDelay, dtype: float64

In [19]:
df[26:39]

       Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
93491  2008      1          31  ...       NaN            NaN                NaN
59776  2008      1          21  ...       NaN            NaN                NaN
80953  2008      1          28  ...       NaN            NaN                NaN
56456  2008      1          20  ...       NaN            NaN                NaN
85540  2008      1          29  ...       NaN            NaN                NaN
49839  2008      1          18  ...       NaN            NaN                NaN
29007  2008      1          11  ...       NaN            NaN                NaN
57134  2008      1          20  ...       NaN            NaN                NaN
15544  2008      1           8  ...       NaN            NaN                NaN
71686  2008      1          25  ...       4.0            0.0               40.0
66459  2008      1          23  ...       NaN            NaN                NaN
25649  2008      1          11  ...       NaN            NaN                NaN
87411  2008      1          30  ...       NaN            NaN                NaN

[13 rows x 29 columns]

In [21]:
df[df["ArrDelay"]<60].head()

       Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
18401  2008      1           8  ...       NaN            NaN                NaN
10815  2008      1           6  ...       0.0            0.0               18.0
82780  2008      1          28  ...       NaN            NaN                NaN
29939  2008      1          12  ...       NaN            NaN                NaN
20692  2008      1           9  ...       NaN            NaN                NaN

[5 rows x 29 columns]

In [25]:
df[df["Origin"] == "ATL"].head()

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

In [26]:
df.Origin

18401    SMF
10815    PHL
82780    PHX
29939    JAX
11404    SFO
        ...
99496    JAX
71031    SMF
29115    AUS
93803    SMF
75439    HOU
Name: Origin, Length: 100000, dtype: object

In [28]:
df[df.Origin.isin(["PHL","JAX"])].head()

       Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
10815  2008      1           6  ...       0.0            0.0               18.0
29939  2008      1          12  ...       NaN            NaN                NaN
92980  2008      1          31  ...      10.0            0.0                0.0
42865  2008      1          16  ...       NaN            NaN                NaN
52815  2008      1          19  ...       0.0            0.0               43.0

[5 rows x 29 columns]

In [37]:
df[pd.isna(df["ArrDelay"])].head()

     Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
178  2008      1           3  ...       NaN            NaN                NaN
373  2008      1           3  ...       NaN            NaN                NaN
399  2008      1           3  ...       NaN            NaN                NaN
401  2008      1           3  ...       NaN            NaN                NaN
415  2008      1           3  ...       NaN            NaN                NaN

[5 rows x 29 columns]

In [36]:
len(df[pd.isna(df["ArrDelay"])].head())

5

# Transformacin

In [43]:
# Crear una nueva Columna en DataFrame

df["HoursDelay"]=round(df["ArrDelay"]/60)

In [44]:
# Para Visualizarla como queda la nueva columna

df["HoursDelay"].head()

0   -0.0
1    0.0
2    0.0
3   -0.0
4    1.0
Name: HoursDelay, dtype: float64

In [40]:
# Eliminar una Columna

del(df["HoursDelay"])

In [45]:
df.head()

   Year  Month  DayofMonth  ...  SecurityDelay  LateAircraftDelay  HoursDelay
0  2008      1           3  ...            NaN                NaN        -0.0
1  2008      1           3  ...            NaN                NaN         0.0
2  2008      1           3  ...            NaN                NaN         0.0
3  2008      1           3  ...            NaN                NaN        -0.0
4  2008      1           3  ...            0.0               32.0         1.0

[5 rows x 30 columns]